<main>
  <div class="title-descrition">
    <h3>Gestiona tus pagos</h3>
    <p class="description">¡Bienvenido a 'Gestiona Tus Pagos'! Aquí podrás gestionar tus pagos de manera sencilla y eficiente. Ya sea que necesites realizar pagos, dar seguimiento a los pendientes o revisar los rechazados, te proporcionamos las herramientas necesarias para tener un control total de tus transacciones financieras.</p>
  </div>

  <div class="menu">
    <div class="option">
      <button class="btn" (click)="btbMenu('records')" [ngClass]="{'btn-select': menuIdentifier == 'records' }">Resgitros</button>
      <button class="btn" (click)="btbMenu('pending-payments')" [ngClass]="{ 'btn-select': menuIdentifier == 'pending-payments' }">Pagos pendientes</button>
      <button class="btn" (click)="btbMenu('failed-payments')" [ngClass]="{ 'btn-select': menuIdentifier == 'failed-payments' }">Pagos fallidos</button>
    </div>

    <form>
      <input type="text" name="search" placeholder="Buscar empleado...">
      <button type="submit" class="btn-search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
</main>

<app-payment-list></app-payment-list>
