
<table class="tb-payments" cellspacing="0">

  <tr class="table-header">
    <th>Nombre</th>
    <th>Identificación</th>
    <th>Fecha</th>
    <th>Valor $</th>
    <th>Fecha de pago</th>
    <th>Medio</th>
    <th>Estado</th>
    <th>Acciones</th>
    <th>Nota</th>
  </tr>

  <tr class="payment-information" *ngFor="payment of paymentList">

    <td class="infor-user">
      <div>
        <img src="https://i.pinimg.com/originals/a8/57/00/a85700f3c614f6313750b9d8196c08f5.png" alt="">

        <div class="name">
          <p>Sara Acuña</p>
          <p>(Cortador)</p>
        </div>
      </div>
    </td>

    <td>1052964434</td>
    <td>21/06/2023</td>
    <td>5000000</td>
    <td>21/07/2023</td>
    <td>Bancolombia</td>
    <td>Exitoso</td>

    <td class="action">
      <span><i class="fa-solid fa-pen"></i></span>
      <span><i class="fa-solid fa-trash"></i></span>
    </td>

    <td class="note">
      EL pago se realizo con firma etxc
    </td>
  </tr>

</table>

