@import './../../../assets/style/colors.scss';

.tb-payments{
  text-align: center;

  .table-header{
    th{
      background-color: $color-primate-red;
      color:#fff;
      padding: 1rem;
      font-size: 17px;
    }
  }

  .payment-information{
    border:1px solid gray;
    td{
      padding: 0.5rem 0;
      border-radius: 4px;

    }


    .infor-user{
      display:flex;;
      align-items: center;

      .profile{
        display: flex;
      }

      img{
        border-radius: 50%;
        max-width: 50px;
        min-width: 40px;
        margin-right: 10px;
      }

      p{
        margin: 0;
      }
    }

    .action{
      display: flex;
      flex-direction: column;

      span{
        margin: 5px 0;
      }
    }
  }

}

