<main>
    <div class="left menu">
        
        <h3 class="title">Gestionar mis empleados</h3>

        <div class="option">
            <div class="container-defec">
                <span class="icon"><i class="fa-regular fa-address-book" style="color: #fa280a;font-size: 19px;"></i></span>
                <p> Activos</p>
            </div>
            <p>23</p>
        </div>

        <div class="option">
            <div  class="container-defec">
                <span class="icon"> <i class="fa-solid fa-user-large-slash" style="color: #fa280a;font-size: 19px;"></i></span>
                <p> Inactivos</p>
            </div>
            <p>37</p>
        </div>  
    </div>


    <div class="right">
        <app-employee-list></app-employee-list>
    </div>
</main>
