@import './../../../assets/style/colors.scss';

.main-footer{
  margin-top: 2rem;
  text-align: center;
  background-color: $color-primate-red;
  padding: 3rem 0 1rem 0;
  height: 170px;
  letter-spacing: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 13px;
  color:#fff;

  p{
    margin: 3px  0;
    font-weight: 600;
  }

  img{
    width: 200px;
  }

}
