@import './../../../assets/style/colors.scss';
nav{
  background-color: white;
  border-bottom: 1px solid $color-primate-red;
  // box-shadow: 0px 4px 4px $color-gray; /* Bottom shadow effect */

  position: sticky;
  top: 0;
  z-index: 10000;

  .main-nav{
    display: flex;
    align-items: center;


    cursor: pointer;

    .logo{
      width: 100px;
    }
  }




}

