<nav>
  <div class="main-nav">
    <div class="container-main">
      <img src="./../../../assets/img/logo.svg" alt="Logo" class="logo">

      <div class="menu" *ngIf="_authService.isAuth">
          <div class="employees" (click)="goToUrl('employees')"><h3 >Mis empleados</h3></div>
          <div class="payment-management" (click)="goToUrl('payment-management')"><h3>Mis pagos</h3></div>
          <div class="products" (click)="goToUrl('products')"><h3>Mis productos</h3></div>
      </div>
    </div>

    <div class="user" *ngIf="_authService.isAuth">
      <!-- <img src="https://i.pinimg.com/originals/a8/57/00/a85700f3c614f6313750b9d8196c08f5.png" alt="">
      <button></button> -->
      <app-user-menu></app-user-menu>
    </div>
  </div>
</nav>





