

<form [formGroup]="productForm" (ngSubmit)="save()" class="form" id="registerProduct">
  <div class="question">

    <div class="select-product">
      <span>Producto</span>
      <select formControlName="product_id">
        <option *ngFor="let product of _productsService.productList" value="{{product.id}}">{{product.name}}</option>
        <!-- <option value="2">Opción 2</option>
        <option value="3">Opción 3</option>
        <option value="4">Opción 4</option> -->
      </select>
    </div>

    <label>Código
      <input type="text" formControlName="name" id="">
    </label>

    <label>Cantidad
      <input type="number" formControlName="total_products" id="">
    </label>

    <label>Empleado ID
      <input type="text" formControlName="employee_id" id="">
    </label>

  </div>

  <div class="group-btn">
    <button class="btn save" type="submit" [disabled]="productForm.invalid" form="registerProduct">Guardar</button>
    <button class="btn cancel">Cancelar</button>
  </div>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

</form>


