

<form>
  <div class="question">

    <div class="select-product">
      <span>Producto</span>
      <select>
        <option value="opcion1">Opción 1</option>
        <option value="opcion2">Opción 2</option>
        <option value="opcion3">Opción 3</option>
        <option value="opcion4">Opción 4</option>
      </select>
    </div>

    <label for="">Código
      <input type="text" name="" id="">
    </label>

    <label for="">Cantidad
      <input type="number" name="" id="">
    </label>

    <label for="">Proceso
      <input type="text" name="" id="">
    </label>

  </div>

  <div class="group-btn">
    <button class="btn save">Guardar</button>
    <button class="btn cancel">Cancelar</button>
  </div>

</form>


