
$color-primate-red: #FA280A;
$color-secundary-red:#ba7a7a;

$color-gray:rgba(195,201,215,.56);
$color-gray-strong:rgba(100, 100, 100, 1);

$light-gray-color: #F3F5F9;


*{
  font-family: Muli,sans-serif;
}
