<div class="container-form">
  <form action="form" class="form">

    <label for=""><span>Nombre del empleado *</span>
      <input type="text">
    </label>

    <label for=""><span>Número de identifiación *</span>
      <input type="text">
    </label>

    <label for=""><span>Dirección </span>
      <input type="text">
    </label>

    <label for=""><span>Correo * </span>
      <input type="text">
    </label>

    <label for=""><span>Teléfono * </span>
      <input type="email">
    </label>

    <label for=""><span>Fecha de nacimiento * </span>
      <input type="date">
    </label>

    <div class="gender">
      <label for="opcionesSelect">Sexo *</label>
      <select id="opcionesSelect" name="opciones">
        <option value="opcion1">Femenino</option>
        <option value="opcion2">Masculino</option>
        <option value="opcion3">Otro</option>
      </select>
    </div>


    <div class="role">
        <label for="opcionesSelect">Rol *</label>
        <select id="opcionesSelect" name="opciones">
          <option value="opcion1">Administrador</option>
          <option value="opcion2">Ensamblador</option>
          <option value="opcion3">Cortador</option>
        </select>
    </div>

  </form>

  <div class="group-btn">
    <button class="btn cancel">Cancelar</button>
    <button class="btn save">Guardar</button>
  </div>

</div>
